@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #82ca0e;
  box-shadow: 0 1px 5px #82ca0e !important;
  /* Стиль для бургер-меню */
  /* Панель навигации */
  position: sticky;
  z-index: 5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  gap: 20px;
}
.header ul.nav {
  background: linear-gradient(to bottom right, #202020, #131212) !important;
}
.header ul.nav li a {
  color: #fff !important;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 20px 50px;
  }
  .header .nav-panel.open {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 20px 100px;
  }
}
.header .burger {
  display: none;
  width: 30px;
  height: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border: none;
  z-index: 50;
  background: transparent;
  /* Полоски бургера */
  /* Стиль для крестика */
}
.header .burger::before, .header .burger::after, .header .burger span {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to bottom right, #202020, #131212);
  transition: 0.3s all ease;
  left: 0;
}
.header .burger::before {
  top: 0;
}
.header .burger span {
  top: 50%;
  transform: translateY(-50%);
}
.header .burger::after {
  bottom: 0;
}
.header .burger.active::before {
  transform: rotate(45deg);
  top: 50%;
  transform-origin: center;
  background: #fff;
  transition: 0.3s all ease;
}
.header .burger.active {
  transition: 0.3s all ease;
  right: 0px;
}
.header .burger.active span {
  opacity: 0; /* Прячем среднюю полосу */
  background: #fff;
}
.header .burger.active::after {
  transition: 0.3s all ease;
  background: #fff;
  transform: rotate(-45deg);
  bottom: 8px;
  transform-origin: center;
}
.header .nav-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #202020, #131212);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 9;
}
.header .nav-panel .nav {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
.header .nav-panel .nav li {
  list-style: none;
}
.header .nav-panel .nav li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.header .nav-panel.open {
  transform: translateX(0);
}
.header .switchLng {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding: 5px;
  display: flex;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to bottom right, #202020, #131212);
  cursor: pointer;
}
.header .switchLng img {
  width: 100%;
}
.header .logo {
  flex: 1;
  display: flex;
}
.header .logo a {
  border-radius: 10px;
}
.header .logo img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4) !important;
  border-radius: 10px;
  width: 50px;
}
.header .nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  background: #82ca0e !important;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4) !important;
}
.header .nav a {
  text-decoration: none;
  color: #40ff40;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}
.header .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #40ff40, #00aaff);
  transition: width 0.3s ease;
}
.header .nav a:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .header .nav {
    display: none;
  }
  .header .burger {
    display: block;
  }
}
.button {
  background: #82ca0e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.button:active {
  transform: scale(1);
  box-shadow: none;
}

.start {
  position: relative;
  height: auto;
}
@media (max-width: 873px) {
  .start .content {
    display: flex;
    flex-direction: column;
  }
  .start .content .img {
    width: 100% !important;
  }
  .start .content .img img {
    border-radius: 0px 0px 50px 50px !important;
  }
  .start .content .img .phone {
    width: 23vw !important;
    bottom: 10px !important;
  }
  .start .content .info {
    width: 100% !important;
    padding: 30px !important;
    margin-top: 0px !important;
  }
  .start .content .info .subtitle {
    width: 100% !important;
    font-size: 13px;
  }
}
@media (min-width: 1267px) {
  .start .content .info {
    width: 40vw !important;
    z-index: 10;
    margin-top: 0px !important;
  }
  .start .content .info .subtitle {
    width: 100% !important;
  }
  .start .content .img {
    width: 60vw !important;
  }
  .start .content .img .phone {
    height: 40vh;
  }
  .start .content .img img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1267px) {
  .start .content .img .phone {
    height: 90%;
    right: 20% !important;
  }
}
@media (min-width: 1440px) {
  .start .content .info {
    margin-top: 60px !important;
    font-size: 20px;
  }
}
@media (min-width: 1113px) and (max-width: 1267px) {
  .start .content {
    margin-bottom: 250px !important;
  }
  .start .content .info {
    font-size: 17px !important;
  }
}
@media (min-width: 873px) and (max-width: 1267px) {
  .start .content {
    background: transparent !important;
    box-shadow: none !important;
    display: flex;
  }
  .start .content .img {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    border-radius: 50px !important;
    position: absolute !important;
    left: 0 !important;
    width: 100% !important;
  }
  .start .content .img img {
    border-radius: 50px !important;
    width: 100% !important;
  }
  .start .content .img .phone {
    bottom: 10px !important;
  }
  .start .content .info {
    z-index: 1;
    height: 100% !important;
    padding: 0px !important;
    align-items: center !important;
    height: 100%;
    margin: 0px !important;
    margin: 0 auto !important;
    justify-content: center;
    display: flex;
    padding-top: 50px !important;
    font-size: 20px;
    margin-bottom: 80px !important;
  }
  .start .content .info .subtitle {
    width: 30vw !important;
  }
}
.start #bgSmoke1 {
  left: -150px;
  top: -150px;
  width: 400px;
  z-index: -1;
}
.start #bgSmoke2 {
  right: -100px;
  top: -200px;
  width: 400px;
  z-index: -1;
}
.start .content {
  background: linear-gradient(to bottom right, #202020, #131212);
  display: flex;
  justify-content: space-between;
  border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  z-index: 5 !important;
}
.start .content .info {
  width: 50%;
  padding: 50px;
  align-items: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.start .content .info .subtitle {
  width: 600px;
}
.start .content .img {
  position: relative;
  width: 50%;
}
.start .content .img img {
  border-radius: 0px 50px 50px 0px;
}
.start .content .img .phone {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 0px !important;
  width: 22vw !important;
  max-width: -moz-max-content;
  max-width: max-content;
}

.why-burty {
  position: relative;
}
.why-burty #bgboll1 {
  top: -100px;
  z-index: -1;
  right: 0;
  position: absolute;
  width: 500px !important;
}
.why-burty #bgSmoke1 {
  left: -100px;
  z-index: -1;
  position: absolute;
}
.why-burty #bgSmoke2 {
  bottom: -100px;
  right: 0px;
  z-index: -1;
  position: absolute;
}
@media (max-width: 460px) {
  .why-burty .items .item {
    width: 80% !important;
    font-size: 13px;
    height: auto !important;
  }
  .why-burty .items .item img {
    width: 100px;
  }
}
@media (min-width: 460px) {
  .why-burty .items .item {
    width: 80% !important;
    font-size: 18px;
    height: auto !important;
  }
  .why-burty .items .item img {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .why-burty .items .item {
    font-size: 20px;
    width: 500px !important;
    height: 300px !important;
  }
  .why-burty .items .item img {
    width: 100px;
  }
}
.why-burty .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.why-burty .items .item {
  background: linear-gradient(to bottom right, #202020, #131212);
  border: 2px solid #fff;
  width: 500px;
  height: 300px;
  padding: 20px;
  border-radius: 30px;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-burty .items .item img {
  padding-top: 20px;
  width: 130px;
}
.why-burty .items .item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
  transform: scale(1.05);
}

.about {
  position: relative;
}
.about #bg1 {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.about #bg2 {
  z-index: -1;
  position: absolute;
  right: -100px;
  bottom: 0;
  width: 250px;
}
.about #bg3 {
  z-index: -1;
  position: absolute;
  bottom: -160px;
  right: 0px;
  width: 400px;
}
.about .content {
  display: flex;
  gap: 50px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .about .content {
    align-items: center !important;
    flex-direction: column !important;
    gap: 50px !important;
  }
  .about .content .info {
    font-weight: 500 !important;
    padding: 20px !important;
    width: 100% !important;
  }
  .about .content .info .text:nth-last-child(1) {
    border-bottom: none;
  }
}
@media (max-width: 1200px) and (max-width: 750px) {
  .about .content .info {
    height: 600px !important;
    overflow-y: scroll;
  }
  .about .content .info::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 650px) {
  .about .content .items {
    padding: 50px 20px !important;
    border-radius: 50px !important;
    flex-direction: column !important;
    display: flex;
    height: auto !important;
    width: 100% !important;
    min-height: 0px !important;
    min-width: 0px !important;
  }
  .about .content .items .item {
    align-items: center;
    font-weight: 700;
    justify-content: space-between !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width: 280px;
    height: auto !important;
    font-size: 15px;
    text-align: center;
    position: relative;
    flex-wrap: nowrap !important;
    gap: 5px !important;
  }
  .about .content .items .item h3 {
    z-index: 4;
  }
  .about .content .items .item h4 {
    z-index: 5;
  }
  .about .content .items .item img {
    width: 100px !important;
    height: 80px !important;
  }
  .about .content .items .item:nth-child(1) img {
    position: static !important;
    left: auto !important;
    bottom: auto !important;
    z-index: 1;
    transform: rotate(0deg) !important;
  }
  .about .content .items .item:nth-child(2) img {
    position: static !important;
    left: auto !important;
    bottom: auto !important;
    z-index: 1;
    transform: rotate(0deg) !important;
  }
  .about .content .items .item:nth-child(3) img {
    position: static !important;
    left: auto !important;
    bottom: auto !important;
    z-index: 1;
    transform: rotate(0deg) !important;
  }
  .about .content .items .item:last-child {
    align-self: auto !important;
  }
  .about .content .items .item:last-child img {
    display: none;
  }
}
.about .content .items {
  min-height: 600px;
  min-width: 600px;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  padding: 100px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom right, #202020, #131212);
  flex-wrap: wrap;
  gap: 50px;
}
.about .content .items .item {
  align-items: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 100px;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.about .content .items .item h3 {
  z-index: 4;
}
.about .content .items .item h4 {
  z-index: 5;
}
.about .content .items .item img {
  width: 100px;
  height: 200px;
}
.about .content .items .item:nth-child(1) img {
  position: absolute;
  left: 100px;
  bottom: 70%;
  z-index: 1;
  width: 100%;
  height: 100px;
  transform: rotate(310deg);
}
.about .content .items .item:nth-child(3) img {
  position: absolute;
  left: -60%;
  bottom: 50px;
  z-index: 1;
  width: 100%;
  height: 100px;
  transform: rotate(180deg);
}
.about .content .items .item:nth-child(2) img {
  position: absolute;
  left: 0px;
  bottom: -120%;
  z-index: 1;
  width: 230px;
  height: 100px;
  transform: rotate(90deg);
}
.about .content .items .item:last-child {
  align-self: flex-start;
}
@media (max-width: 1508px) and (min-width: 1200px) {
  .about .content .info {
    height: 600px !important;
    overflow-y: scroll;
  }
  .about .content .info::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 1280) and (min-width: 1200px) {
  .about .content {
    gap: 0px !important;
  }
  .about .content .items {
    transform: scale(0.7);
  }
  .about .content .info {
    width: 100% !important;
    flex: 1;
  }
  .about .content .info::-webkit-scrollbar {
    display: none;
  }
}
.about .content .info {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  border-radius: 50px;
  max-width: 700px;
  font-weight: 700;
  word-spacing: 3px;
  font-size: 15px;
  background: linear-gradient(to bottom right, #202020, #131212);
}
.about .content .info .text {
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
  border-radius: 1px;
}

.how-it-works {
  position: relative;
}
.how-it-works #bg1 {
  position: absolute;
  right: 0;
}
.how-it-works .content .items {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 698px) {
  .how-it-works .content .items .item div {
    transform: rotate(0deg) !important;
  }
}
@media (max-width: 1175px) {
  .how-it-works .content .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .how-it-works .content .items img {
    display: block !important;
    position: absolute;
  }
}
.how-it-works .content .items .item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
}
.how-it-works .content .items .item div {
  text-align: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  height: 200px;
  background: linear-gradient(to bottom right, #202020, #131212);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 50px;
  border: 2px solid #fff;
  padding-top: 50px;
}
.how-it-works .content .items .item img {
  display: none;
  position: absolute;
  bottom: 0px;
  right: -250px;
  z-index: -999;
}
.how-it-works .content .items .item:hover div {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
  transform: rotate(0deg) !important;
}
.how-it-works .content .items .item:nth-child(1) div {
  transform: rotate(-3deg);
}
.how-it-works .content .items .item:nth-child(2) div {
  transform: rotate(7deg);
}
.how-it-works .content .items .item:nth-child(3) div {
  transform: rotate(-7deg);
}
.how-it-works .content .items .item:nth-child(4) div {
  transform: rotate(3deg);
}

.faq .list {
  list-style: none;
  padding: 0;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.faq .item {
  background: linear-gradient(to bottom right, #202020, #131212);
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.45);
}
.faq .item button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.faq .item button .svg {
  transition: transform 0.3s ease; /* Плавная анимация вращения */
  border-radius: 10px;
}
.faq .item button .svg.rotated {
  transform: rotate(180deg); /* Поворот стрелки */
}
.faq .item-content {
  max-height: 0; /* Высота по умолчанию */
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease; /* Плавное изменение высоты */
  padding: 0 25px; /* Убираем отступы, чтобы они не влияли на высоту */
}
.faq .item-content.open {
  max-height: 200px; /* Примерно максимальная высота открытого блока */
  padding: 25px; /* Возвращаем отступы при открытии */
}

.features {
  position: relative;
}
.features #bg1 {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 250px;
}
.features #bg2 {
  z-index: 1;
  position: absolute;
  width: 400px;
}
.features .content {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom right, #202020, #131212);
  display: flex;
  padding: 50px;
  border-radius: 100px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  gap: 10vw;
  flex-wrap: wrap;
}
@media (max-width: 860px) {
  .features .content {
    padding: 20px !important;
    border-radius: 20px;
    width: 100%;
  }
  .features .content .features-items {
    width: 240px !important;
    height: 240px !important;
  }
  .features .content .features-items .features-item {
    width: 30px !important;
    height: 30px !important;
    font-size: 0px !important;
  }
  .features .content .items {
    width: 100% !important;
  }
}
@media (min-width: 860px) and (max-width: 1400px) {
  .features .content {
    padding: 50px !important;
    align-items: center;
    width: 100%;
  }
  .features .content .features-items {
    width: 350px !important;
    height: 350px !important;
  }
  .features .content .features-items .features-item {
    width: 80px !important;
    height: 80px !important;
    font-size: 0px !important;
  }
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .features .content {
    padding: 50px !important;
    align-items: center;
    width: 100%;
  }
  .features .content .features-items {
    width: 400px !important;
    height: 400px !important;
  }
  .features .content .features-items .features-item {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px !important;
    font-weight: 500 !important;
  }
}
@media (min-width: 1700px) {
  .features .content .features-items {
    width: 500px !important;
    height: 500px !important;
  }
  .features .content .features-items .features-item {
    width: 120px !important;
    height: 120px !important;
    font-size: 12px !important;
  }
}
.features .content .features-items {
  z-index: 5;
  background: #fff;
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}
.features .content .features-items .features-item {
  background: linear-gradient(to bottom right, #202020, #131212);
  border-radius: 50%;
  font-size: 12px;
  padding: 10px;
  width: 120px;
  height: 120px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}
.features .content .features-items .features-item:nth-last-child(1) {
  background: linear-gradient(to bottom right, #ff6b6b, rgba(255, 217, 61, 0.9));
}
.features .content .features-items .features-item:nth-last-child(2) {
  background: linear-gradient(to bottom right, #ffd93d, rgba(107, 203, 119, 0.9));
}
.features .content .features-items .features-item:nth-last-child(3) {
  background: linear-gradient(to bottom right, #6bcb77, rgba(77, 150, 255, 0.9));
}
.features .content .features-items .features-item:nth-last-child(4) {
  background: linear-gradient(to bottom right, #4d96ff, rgba(166, 109, 212, 0.9));
}
.features .content .features-items .features-item:nth-last-child(5) {
  background: linear-gradient(to bottom right, #a66dd4, rgba(255, 107, 107, 0.9));
}
.features .content .items {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.features .content .items .item {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 12px;
  padding: 10px;
  background: linear-gradient(to bottom right, #202020, #131212);
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.features .content .items .item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
}

.game {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.game #bg1 {
  position: absolute;
  width: 500px;
  bottom: -100px;
  right: -100px;
}

.stadium {
  width: 1000px; /* Фиксированная ширина поля */
  height: 400px;
  position: relative;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.out {
  height: calc(100% - 150px);
  width: 120px;
  background: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.bar {
  width: 120px;
  height: 5px;
  position: absolute;
  bottom: 150px;
  z-index: 10;
  background: transparent;
}

.stadium::after {
  content: "";
  background-image: url("/img/63801.jpeg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.goal {
  position: absolute;
  width: 120px !important; /* Ширина ворот */
  height: 150px; /* Высота ворот */
  bottom: -80px !important;
  background-color: red;
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.grass {
  position: absolute;
  background-color: rgb(8, 58, 8);
  height: 30px;
  width: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.goal-left {
  left: 0;
  bottom: -100px;
  background: transparent;
  z-index: 5;
  width: -moz-max-content;
  width: max-content;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ball {
  position: absolute;
  width: 50px; /* Размер мяча */
  height: 50px;
  transition: top 0.05s, left 0.05s;
  z-index: 2;
  border-radius: 100%;
}

.ball.spinning {
  animation: spin 1s linear infinite; /* Вращение мяча */
}

.goal-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: gold;
  text-shadow: 2px 2px 5px black;
  display: none; /* Скрыто по умолчанию */
  z-index: 10;
}

.out-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: gold;
  text-shadow: 2px 2px 5px black;
  display: none; /* Скрыто по умолчанию */
  z-index: 10;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #82ca0e;
  box-shadow: 0 5px 15px #82ca0e !important;
  height: 80px;
  font-size: 18px;
  width: 100%;
  left: 0;
  z-index: 50;
}
@media (max-width: 700px) {
  .footer {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0px 20px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 0px 50px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 0px 100px;
  }
}
.footer .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 30px;
}
.footer .content .nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4) !important;
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  background: linear-gradient(to bottom right, #202020, #131212);
  padding: 10px 20px;
  border-radius: 10px;
}
.footer .content .nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}
.footer .content .nav a:hover {
  color: #40ff40;
}
.footer .content .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #40ff40, #00aaff);
  transition: width 0.3s ease;
}
.footer .content .nav a:hover::after {
  width: 100%;
}

:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-montserrat: "Roboto", sans-serif;
}

img {
  pointer-events: none;
}

body {
  color: #fff;
  background: #202020 !important;
  font-family: "Open Sans";
  overflow: hidden;
}

a {
  color: #fff;
}

.bg-smoke {
  position: absolute;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
@media (max-width: 700px) {
  .container {
    max-height: calc(100vh - 70px);
  }
}
@media (min-width: 700px) {
  .container {
    max-height: calc(100vh - 170px);
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0px 50px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0px 100px;
  }
}

.container.locked {
  overflow: hidden !important;
  width: calc(100% - 8px);
}

.title-wrapper .title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 20px;
  color: #fff;
}
.title-wrapper .title img {
  width: 50px;
}
@media (min-width: 1440px) {
  .title-wrapper .title {
    font-size: 50px !important;
  }
}
@media (max-width: 1440px) {
  .title-wrapper .title {
    font-size: 40px !important;
  }
}
@media (max-width: 768px) {
  .title-wrapper .title {
    font-size: 30px !important;
  }
}
@media (max-width: 460px) {
  .title-wrapper .title {
    font-size: 20px !important;
    background: #82ca0e;
    border-radius: 50px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    padding: 5px;
    text-align: center;
  }
}
.title-wrapper .title::before,
.title-wrapper .title::after {
  content: "";
  flex: 1;
  height: 2px;
  border-radius: 50px;
  background: #82ca0e;
  z-index: -2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}

/* Общий стиль скроллбара */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

/* Стиль ползунка */
::-webkit-scrollbar-thumb {
  background: #82ca0e;
  z-index: 2;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom right, #202020, #131212);
}

/* Эффект наведения на ползунок */
::-webkit-scrollbar-thumb:hover {
  background: #228b22; /* Тёмно-зелёный оттенок при наведении */
}

/* Стиль выделенного текста */
::-moz-selection {
  background: #fff;
  color: #82ca0e; /* Белый цвет текста для контраста */
}
::selection {
  background: #fff;
  color: #82ca0e; /* Белый цвет текста для контраста */
}