@import 'variables';

.how-it-works {
  position: relative;
  #bg1 {
    position: absolute;
    right: 0;
  }
  .content {
    .items {
		@media(max-width:698px){
			.item{
				div {
					transform: rotate(0deg) !important;
				 }
			}
		}
		@media(max-width:1175px){
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		@media(min-width:1440px){
			img{
				display: block !important;
				position: absolute;
			}
		}
      display: flex;
      justify-content: space-between;
		gap:50px;

      .item {
        position: relative;
        margin-bottom: 20px;
        div {
          text-align: center;
          flex-direction: column;
          display: flex;
			 width:100%;
			 min-width:200px;
          max-width: 300px;
			 padding: 10px;
          height: 200px;
			 background: linear-gradient(to bottom right, $color-primary, $color-secondary);

          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
          transition: transform 0.2s, box-shadow 0.2s;
          border-radius: 50px;
          border: 2px solid #fff;
          padding-top: 50px;
        }
        display: flex;
        img {
			display: none;
          position: absolute;
          bottom: 0px;
          right: -250px;
          z-index: -999;
        }
      }
      .item:hover {
        div {
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
          transition: transform 0.2s, box-shadow 0.2s;
          transform: rotate(0deg) !important;
        }
      }
      .item:nth-child(1) {
        div {
          transform: rotate(-3deg);
        }
      }
      .item:nth-child(2) {
        div {
          transform: rotate(7deg);
        }
      }
      .item:nth-child(3) {
        div {
          transform: rotate(-7deg);
        }
      }
      .item:nth-child(4) {
        div {
          transform: rotate(3deg);
        }
      }
    }
  }
}
