@import "reset.scss";
@import "header.scss";
@import "button.scss";
@import "start.scss";
@import "why-burty.scss";
@import "about.scss";
@import "how-it-works.scss";
@import "faq.scss";
@import "features.scss";
@import "game.scss";
@import "footer.scss";
@import 'variables';

:root {
	--font-open-sans: 'Open Sans', sans-serif;
  --font-montserrat: "Roboto", sans-serif;
}

img {
  pointer-events: none;
}

body {
  color: #fff;
  background: #202020 !important;

  font-family: "Open Sans";
  overflow: hidden;
  //   background: linear-gradient(to bottom, #e4ece2, #f7eaf7);
}

a {
  color: #fff;
}

.bg-smoke {
  position: absolute;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 170px);
  width: 100%;
  @media (max-width: 768px) {
    padding: 0px 20px;
  }
  @media (min-width: 768px) {
    padding: 0px 50px;
  }
  @media (min-width: 1024px) {
    padding: 0px 100px;
  }
}

.container.locked {
  overflow: hidden !important;
  width: calc(100% - 8px);
}

.title-wrapper {
  .title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;

    img {
      width: 50px;
    }
    color: $color;
    @media (min-width: 1440px) {
      font-size: 50px !important;
    }
    @media (max-width: 1440px) {
      font-size: 40px !important;
    }
    @media (max-width: 768px) {
      font-size: 30px !important;
    }
    @media (max-width: 460px) {
      font-size: 20px !important;
		background: #82ca0e;
		border-radius: 50px;
		box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
		padding: 5px;
      text-align: center;
    }
  }
  .title::before,
  .title::after {
    content: "";
    flex: 1;
    height: 2px;
    border-radius: 50px;
	 background: #82ca0e;
    z-index: -2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
  }
}

/* Общий стиль скроллбара */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

/* Стиль ползунка */
::-webkit-scrollbar-thumb {
  background: #82ca0e;
  z-index: 2;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
  //   background-color: #006400;
	 background: linear-gradient(to bottom right, $color-primary, $color-secondary);
}

/* Эффект наведения на ползунок */
::-webkit-scrollbar-thumb:hover {
  background: #228b22; /* Тёмно-зелёный оттенок при наведении */
}

/* Стиль выделенного текста */
::selection {
  background: #fff;
  color: #82ca0e; /* Белый цвет текста для контраста */
}
